:root {
  /* font-size */
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-xxl: 25px;
  --fs-3xl: 30px;
  --fs-4xl: 10px;
  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  /* colours */
  --rgba-color: rgba(0, 0, 0, 0.7);
  --grey: #4d4d4d;
  --light-grey: #666666;
  --bg-green: #28a745;
  --sky-blue: #007bff;
  --light-black: #9e9e9e;
  --bg-grey: #171717;
  --black-palat: #555555;
  --black-palat1: #222222;
  --bg_black: #0d0d0d;
  --black-palat2: #999;
  --black-palat3: #181818;
  --black-palat4: #454729;
}
/* --font-family */
.ff-poppins {
  font-family: "poppins", sans-serif;
}
.ff-roboto {
  font-family: "roboto", sans-serif;
}
.ff-josefin {
  font-family: "Josefin", sans-serif;
}
/* font-size */
.fs_16 {
  font-size: var(--fs-sm);
}
.fs_18 {
  font-size: var(--fs-md);
}
.fs_20 {
  font-size: var(--fs-lg);
}
.fs_24 {
  font-size: var(--fs-xl);
}
.fs_25 {
  font-size: var(--fs-xxl);
}
.fs_30 {
  font-size: var(--fs-3xl);
}
.fs_10 {
  font-size: var(--fs-4xl);
}
/* font-weight */
.fw_300 {
  font-weight: var(--fw-300);
}
.fw_400 {
  font-weight: var(--fw-400);
}
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-400:hover {
  -webkit-text-stroke: 1px #000000;
  transition: 0.3s linear;
}
.fw_500 {
  font-weight: var(--fw-500);
}
.fw_600 {
  font-weight: var(--fw-600);
}
.fw_700 {
  font-weight: var(--fw-700);
}
.fw_800 {
  font-weight: var(--fw-800);
}
/* colours */
.rgba-color {
  color: var(--rgba-color);
}
.text_grey {
  color: var(--grey);
}
.text_lightgrey {
  color: var(--light-grey);
}
.text_green {
  background-color: var(--bg-green);
}
.text_skyblue {
  color: var(--sky-blue);
}
.text-lightblack {
  color: var(--light-black);
}
.bg-grey {
  background-color: var(--bg-grey);
}
.black_clrpalat {
  color: var(--black-palat);
}
.black_clrpalat1 {
  color: var(--black-palat1);
}
.black_clrpalat2 {
  color: #999;
}
.black_clrpalat3 {
  color: var(--black-palat3);
}
.black_clrpalat4 {
  color: var(--black-palat4);
}
.bg_black {
  background-color: var(--bg_black);
}
@media (max-width: 576px) {
  :root {
    /* font-size */
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 16px;
    --fs-xl: 24px;
    --fs-xxl: 25px;
    --fs-3xl: 22px !important;
    --fs-4xl: 10px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  :root {
    /* font-size */
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 16px;
    --fs-xl: 24px;
    --fs-xxl: 25px;
    --fs-3xl: 28px !important;
    --fs-4xl: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  :root {
    /* font-size */
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 16px;
    --fs-xl: 24px;
    --fs-xxl: 25px;
    --fs-3xl: 24px !important;
    --fs-4xl: 10px;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) {
  :root {
    /* font-size */
    --fs-sm: 16px;
    --fs-md: 16px;
    --fs-lg: 20px;
    --fs-xl: 24px;
    --fs-xxl: 25px;
    --fs-3xl: 29px;
    --fs-4xl: 10px;
  }
}
